{% load bootstrap_icons %}
{% block content %}
    {% if user.is_staff == False or user.is_superuser == False %}
        <div class="site-section">
            <div class="container py-3">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h4>حذف کردن آدرس </h4>
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form }}
                            <button type='submit' class='btn btn-primary'>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container py-5">
            {% bs_icon 'exclamation-triangle-fill' color='red' size='3rem'  %}
            <br/>
            <h2 class="text-danger"> شما مجوز دسترسی به این صفحه را ندارید</h2>
        </div>
    {% endif %}
{% endblock content %}