{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}
profile
{% endblock %}
{% block content %}
    {% if user.is_staff == False or user.is_superuser == False %}
        <section class="container py-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">نام شهر</th>
                    <th scope="col">آدرس</th>
                    <th scope="col">تلفن تماس</th>
                    <th scope="col">ویرایش</th>
                    <th scope="col">حذف کردن</th>
                </tr>
                </thead>
                <tbody >
                {% for addr in addresses %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ addr.city }}</td>
                        <td>{{ addr.address }}</td>
                        <td>{{addr.phone}}</td>
                        <td><a href="{% url 'accounts:update_address' addr.pk %}">{% bs_icon 'pen' color='blue' size='1.2em'  %}</a></td>
                        <td><a href="{% url 'accounts:address_delete' addr.pk %}">{% bs_icon 'trash' color='red' size='1.2em'  %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <br/>
            <a href="{% url 'accounts:address_new' %}">اضافه کردن آدرس</a>
        </section>
    {% else %}
        <div class="container py-5">
            {% bs_icon 'exclamation-triangle-fill' color='red' size='3rem'  %}
            <br/>
            <h2 class="text-danger"> شما مجوز دسترسی به این صفحه را ندارید</h2>
        </div>
    {% endif %}
{% endblock %}