{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">
        <div class="cart py-3">
        <h4>تاریخچه سفارشات</h4>
        <hr>
            {% for rs in orders %}
                {% if rs.payment == True %}
                    <h6><span>شماره سفارش :</span><span class="text-primary">&nbsp;{{ rs.reference_number }}</span> &nbsp;
                        <span> قیمت : </span> <span class="text-dark">&nbsp;{{ rs.get_total_price }}</span> &nbsp;&nbsp;
                        <span> وضعیت : </span><span class="text-success">پرداخت شده</span>&nbsp;&nbsp;
                        <span> آدرس ارسال : </span> <span class="text-success">{{ rs.shipping_address }}</span>
                    </h6>
                {% else %}
                    <br/>
                    <hr>
                    <h6><span>شماره سفارش :</span><span class="text-primary">{{ rs.reference_number }}</span>&nbsp;
                        <span> قیمت : </span> <span class="text-success">{{ rs.get_total_price }}</span>&nbsp;&nbsp;
                        <span> وضعیت : </span><span  class="text-danger">پرداخت نشده</span>


                    </h6>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}