{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="cart mt-3 p-5">
            {% for rs in orders %}
                {% if rs.payment == True %}
                    <h4 class="text-warning"> سفارشات پرداخت شده</h4>
                    <hr>
                    <h6><span>شماره سفارش :</span><span class="text-success">{{ rs.reference_number }}</span> &nbsp
                        <span> قیمت : </span> <span class="text-success">{{ rs.get_total_price }}</span></h6>
                {% else %}
                    <br/>
                    <h4 class="text-danger"> سفارشات پرداخت نشده</h4>
                    <hr>
                    <h6><span>شماره سفارش :</span><a><span class="text-success">{{ rs.reference_number }}</span><a> &nbsp
                        <span> قیمت : </span> <span class="text-success">{{ rs.get_total_price }}</span></h6>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}