{% extends 'base.html' %}
    {% load static %}
    {% block page_style %}
         <link rel="stylesheet" href={% static 'css/list.css' %}>
    {% endblock %}
{% block title %}
    لیست کتاب
{% endblock title %}
{% block content %}
    <div class="row justify-content-center my-3">
        <div class="col-9 ">
            <h3> کتاب ها</h3>
            <hr>
            {% for book in staff_book_list %}
                <div class="row">
                    <div class="col-8 card py-3">
                        <div class="card-header">
                            <p><a class=" text-decoration-none" href="{{ book.get_absolute_url }}">
                                <span class="font-weight-bold">نام کتاب: {{ book.title }} |</span></a>
                                 <span>نام نویسنده: {{ book.author }} |</span>
                                 <span>قیمت: {{ book.price }} </span></p>
                                <p>Group: {% for category in book.category.all %}{{ category }}<br/>{% endfor %}</p>
                                   <p><a class="text-decoration-none" href="{% url 'accounts:book_delete' book.pk %}">
                                        <span> حذف </span></a>
                                        <a class="text-decoration-none" href="{% url 'accounts:staff_book_update' book.pk %}">
                                        <span> ویرایش </span></a>
                                   </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="{{ book.image.url }} " class="py-3 w-25 rounded mx-auto d-block" alt="showcase">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}