{% extends 'base.html' %}
{% block title %}
پروفایل
{% endblock %}
{% block content %}
        <section class="py-2 px-3">
        {% if messages %}
            <div class="w-25 h-25 ">
                {% for message in messages %}
                <h6 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <section class="container py-5 ">
        <div class="row">
            <p ><span class=" h3 text-primary"> خوش آمدید</span> <span class=" h3 text-success">{{ profile.user.first_name }}</span> </p>
            <br/>
            <div class="col-6 py-5">
                {% if user.is_staff == True and user.is_superuser == True %}
                    <h5>پنل مدیریت</h5>
                    <hr>
                        <a class="text-decoration-none" href="{% url 'accounts:book_new' %}">اضافه کردن کتاب جدید</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'accounts:category_new' %}">اضافه کردن دسته بندی جدید</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'accounts:staff_book_list' %}">
                            لیست کامل کتاب ها (ویرایش- حذف)</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'admin:index' %}">داشبورد مدیریت</a>
                {% elif user.is_staff == True and user.is_superuser == False %}
                    <h5>پنل کارمندان</h5>
                    <hr>
                        <a class="text-decoration-none" href="{% url 'accounts:book_new' %}">اضافه کردن کتاب جدید</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'accounts:category_new' %}">اضافه کردن دسته بندی جدید</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'accounts:staff_book_list' %}">
                            لیست کامل کتاب ها (ویرایش- حذف)</a>
                {% else %}
                        <span>پنل کاربری</span> &nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="{{ profile.image.url }} "  class="py-3 rounded mx-auto d-block" alt="showcase"
                            style=" width: 200px; height: 200px;">
                        <hr>
                        <a class="text-decoration-none" href="{% url 'accounts:update' %}">بروزرسانی</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'accounts:history' %}">تاریخچه سفارشات</a>
                        <br/>
                        <br/>
                        <a class="text-decoration-none" href="{% url 'accounts:address_profile' %}">مشاهده آدرس ها</a>
                {% endif %}
            </div>

        </div>

    </section>

{% endblock %}

