{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html dir="rtl">
<head>
<meta charset="utf-8">
<title>
    {% block title %}فروشگاه کتاب{% endblock title %}
</title>
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    {% block page_style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand py-3 px-3" href="#"><img src="../static/image/logo.jpg" style="width: 2.5rem; height: 2.5rem"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'book:home' %}">خانه</a>
                    </li>
                    <!--  در قسمت نوبار با توجه به اینکه کاربر لاگین است یا کاربر مهمان باشد
                    لینک ورود و ثبت نام و خروج را نشان میدهد-->
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">

                         <a class="nav-item nav-link active" href="{% url 'accounts:logout' %}">خروج</a>
                        </li>
                            {% if user.is_staff == True and user.is_superuser == True %}
                                <li class="nav-item">
                                    <a class="nav-item nav-link active" href="{% url 'accounts:profile' %}">پنل مدیریت</a>
                                </li>
                            {% elif user.is_staff == True and user.is_superuser == False %}
                                <li class="nav-item">
                                    <a class="nav-item nav-link active" href="{% url 'accounts:profile' %}">پنل کارمند</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-item nav-link active" href="{% url 'accounts:profile' %}">حساب کاربری</a>
                                </li>
                            {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">ثبت نام</a>
                    </li>
                    <li>
                    <a class="nav-link" href="{% url 'accounts:login' %}" tabindex="-1" aria-disabled="true">ورود</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'book:book_list' %}" tabindex="-1" aria-disabled="true"> لیست کتاب</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:detail' %}" tabindex="-1" aria-disabled="true">
                        {% bs_icon 'cart4' color='orange' size='1.5em'  %}</a>
                    </li>
                </ul>
                <form class="row mx-5" id="search_form" action="{% url 'book:search_results' %}" method="get">
                    <input name="q" id="searchbar" class="col-8 " type="text" placeholder="نام کتاب/ نام نویسنده" >
                    <input type="submit" value="جستجو" class="col-4 btn btn-secondary py-2">
                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    <!-- JavaScript -->
    <script src="jquery-3.5.1.min.js"></script>
</body>
</html>