{% extends 'base.html' %}
    {% load static %}
    {% block page_style %}
         <link rel="stylesheet" href={% static 'css/list.css' %}>
    {% endblock %}
{% block title %}
    لیست کتاب
{% endblock title %}
{% block content %}
    <div class="row container ">
        <div class="col-9 my-5 mx-3">
            <h3> کتاب ها</h3>
            <hr>
            {% for book in object_list %}
                <div class="row  mx-3">
                    <div class="col-3 ">
                        <img src="{{ book.image.url }} " class="py-3 w-25 rounded mx-auto d-block" alt="showcase">
                    </div>
                    <div class="col-9 card py-3">
                        <div class="card-header">
                            <p><a class=" text-decoration-none" href="{{ book.get_absolute_url }}">
                            <span class="font-weight-bold">نام کتاب: {{ book.title }} |</span></a>
                             <span>نام نویسنده: {{ book.author }} |</span>
                             <span>قیمت: {{ book.price }} </span></p>
                            <p>Group: {% for category in book.category.all %}{{ category }}<br/>{% endfor %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row container px-5">
         <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                <div>

                </div>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>

{% endblock content %}