<!-- این صفحه جزییات هر کتاب را نشان میدهد و یک فرم دارد که تعداد کتاب را انتخاب و به سبد خرید اضافه میکنیم -->
{% extends 'base.html' %}
{% load static %}
{% block page_style %}
     <link rel="stylesheet" href={% static 'css/list.css' %}>
{% endblock %}
{% block title %}
    {{ object.title }}
{% endblock title %}
{% block content %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <div class="book-detail py-5 px-3 container">

        <h2 class="text-success">{{ object.title }}</h2>
        <br/>
        <p><span> نام نویسنده </span> : {{ object.author }}</p>
        <p><span> قیمت </span> :{{ object.price }}</p>
        <p><span> تخفیف </span> :{{ book.get_item_discount }}</p>
        <p><span> موجودی</span> : {{ object.stock }}</p>
        <form  action="{% url 'cart:cart_add' book.id %}" method="post">
            {% csrf_token %}
            <span>تعداد</span> : {{ form.quantity }}
            <br/>
            <br/>
            <input class="btn-warning" id="cart_form" type="submit" value="افزودن به سبد">
        </form>
    </div>
    <script>
        $("#cart_form").click(function() {
          alert("کالا به سبد اضافه شد");
        });
    </script>
{% endblock content %}