{% extends 'base.html' %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.rtl.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href={% static 'css/home.css' %}>
{% endblock %}
{% load static %}
{% block title %}
    فروشگاه کتاب
{% endblock title %}
{% block content %}

    <div >
    <ul class=" list-group bg-warning m-0 p-0 list-group-horizontal">
        <li class=" bg-warning list-group-item">
          <a class=" text-decoration-none bg-warning text-center" href="{% url "book:home" %}">پرفروش ها</a>
        </li>
            {% for cat in categories %}
                <li class=" bg-warning list-group-item">
                    <a class=" text-decoration-none bg-warning text-center" href="{% url "book:home" %}?category={{ cat.title }}">{{ cat.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>


    <!--t -->
    <section class="py-2 px-3">
        {% if messages %}
            <div class="w-25 h-25 ">
                {% for message in messages %}
                <h6 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h6>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <br/>
    <section class=" py-5 px-3">
        <div class="row  px-5">
            <div class="col-9">
                {% for book in books %}
                    <div class="card " style="width:16rem; display:inline-block">
                        <img src="{{ book.image.url }} "  class="py-3 rounded mx-auto d-block" alt="showcase"
                             style=" width: 150px; height: 250px;">
                        <div class="card-body text-center">
                            <a href="{{ book.get_absolute_url }}" class="card-title text-decoration-none">{{ book.title }}</a>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="col-3 bg-black">
                <div>
                    {% for cat in cat_list %}
                    <p>{{ cat.title }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock content %}